body {
  background-color: #f0fcee;
  font-family: "Lobster", cursive;
  font-weight: 400;
}

.body-container {
  width: 80vw;
  height: auto;
  position: relative;
  border: #a98f89 solid 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  overflow: hidden;
}
.note {
  width: 100px;
}
.side-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
p {
  font-family: "Roboto";
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  flex: 1;
}
.todo-card {
  background-color: #a98f89;
  border-radius: 15px;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.todo-card p {
  margin: 5px 0;
  color: white;
}

.trash-icon {
  color: red;
}

.delete-button {
  margin-left: 5px;
  background-color: #a98f89;
  border: none;
}
